@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
   /** Theme State */
   --is-dark-mode: 1;

   /** Colors */
   --color-primary-hex: #301934;
   --color-accent-hex: #eceff1;
   --color-primary-rgb: 48, 25, 52;
   --color-accent-rgb: 236, 239, 241;

   /** Fonts */
   --font-family: "Josefin Sans", sans-serif;
   --font-weight: normal;

   /** Transitions */
   --slow-transition: 300ms ease;
   --medium-transition: 250ms ease;
   --fast-transition: 200ms ease;

   /** Opacities */
   --low-opacity: 0.4;
   --medium-opacity: 0.6;
   --high-opacity: 0.8;
   --full-opacity: 1;
}
