@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
:root {
  /** Theme State */
  --is-dark-mode: 1;
  /** Colors */
  --color-primary-hex: #301934;
  --color-accent-hex: #eceff1;
  --color-primary-rgb: 48, 25, 52;
  --color-accent-rgb: 236, 239, 241;
  /** Fonts */
  --font-family: "Josefin Sans", sans-serif;
  --font-weight: normal;
  /** Transitions */
  --slow-transition: 300ms ease;
  --medium-transition: 250ms ease;
  --fast-transition: 200ms ease;
  /** Opacities */
  --low-opacity: 0.4;
  --medium-opacity: 0.6;
  --high-opacity: 0.8;
  --full-opacity: 1;
  /** Box Shadows */
  --drop-shadow: drop-shadow(0 6px 3px rgba(0, 0, 0, var(--medium-opacity)));
  --drop-shadow-hover: drop-shadow(0 0 0 rgba(black, 0));
}

@-webkit-keyframes text-anim {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes text-anim {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes avatar-anim {
  0% {
    -webkit-transform: translateY(25%) scale(0.5);
            transform: translateY(25%) scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes avatar-anim {
  0% {
    -webkit-transform: translateY(25%) scale(0.5);
            transform: translateY(25%) scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes nav-anim {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes nav-anim {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes menu-anim {
  0% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu-anim {
  0% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

html,
body {
  height: auto;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  -webkit-transition: var(--slow-transition);
  transition: var(--slow-transition);
  background-color: var(--color-primary-hex);
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.4em;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  border-radius: 0.4em;
  background-color: rgba(var(--color-accent-rgb), var(--medium-opacity));
}

header {
  top: 0;
  position: fixed;
  height: 88px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(0.6em);
          backdrop-filter: blur(0.6em);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: var(--slow-transition);
  transition: var(--slow-transition);
  background-color: rgba(var(--color-primary-rgb), var(--high-opacity));
}

header img:nth-child(1) {
  cursor: pointer;
  margin-left: 3.2em;
  -webkit-transition: var(--slow-transition);
  transition: var(--slow-transition);
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3.2em;
}

header div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: 0.3s ease 0s 1 menu-anim;
          animation: 0.3s ease 0s 1 menu-anim;
}

header div ul li {
  margin: 1.2em;
  font-size: 1em;
  list-style: none;
  -webkit-transition: var(--fast-transition);
  transition: var(--fast-transition);
  color: rgba(var(--color-accent-rgb), var(--medium-opacity));
}

header div ul li:hover {
  cursor: pointer;
  -webkit-transform: translateY(-0.2em);
          transform: translateY(-0.2em);
  font-weight: var(--font-weight);
  color: rgba(var(--color-accent-rgb), var(--full-opacity));
}

header img:nth-child(2) {
  margin: 1em;
  -webkit-transition: var(--fast-transition);
  transition: var(--fast-transition);
}

header img:nth-child(2):hover {
  cursor: pointer;
  -webkit-transform: rotate(45deg) scale(1.2);
          transform: rotate(45deg) scale(1.2);
}

main {
  height: auto;
  width: 100%;
}

main div:nth-child(2) {
  left: 0;
  bottom: 0;
  width: 5em;
  height: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--slow-transition);
  transition: var(--slow-transition);
  -webkit-animation: 500ms ease-in-out 0s 1 nav-anim;
          animation: 500ms ease-in-out 0s 1 nav-anim;
}

main div:nth-child(2) ul {
  margin: 0;
  list-style: none;
}

main div:nth-child(2) ul li {
  margin: 1.5em 1.5em;
}

main div:nth-child(2) ul li img {
  opacity: var(--medium-opacity);
  -webkit-transition: var(--fast-transition);
  transition: var(--fast-transition);
}

main div:nth-child(2) ul li img:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transform: translateY(-0.2em) scale(1.2);
          transform: translateY(-0.2em) scale(1.2);
}

main div:nth-child(2) ul::after {
  content: "";
  display: block;
  width: 1px;
  height: 6em;
  margin: auto;
  background-color: rgba(var(--color-accent-rgb), var(--medium-opacity));
}

main div:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 5em;
  height: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: var(--slow-transition);
  transition: var(--slow-transition);
  -webkit-animation: 500ms ease-in-out 0s 1 nav-anim;
          animation: 500ms ease-in-out 0s 1 nav-anim;
}

main div:nth-child(3) p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.1em;
  color: rgba(var(--color-accent-rgb), var(--medium-opacity));
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transition: var(--fast-transition);
  transition: var(--fast-transition);
}

main div:nth-child(3) p:hover {
  cursor: pointer;
  -webkit-transform: translateY(-0.3em);
          transform: translateY(-0.3em);
  color: var(--color-accent-hex);
  font-weight: var(--font-weight);
}

main div:nth-child(3)::after {
  content: "";
  display: block;
  width: 1px;
  height: 6em;
  margin-left: 1.5em;
  background-color: rgba(var(--color-accent-rgb), var(--medium-opacity));
}

main div:nth-child(1) {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  height: 100vh;
  width: 85%;
}

section:nth-child(1) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 100%;
}

section:nth-child(1) div div {
  width: 48%;
  height: auto;
  margin: 20em 2em 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(var(--color-accent-rgb), var(--medium-opacity));
}

section:nth-child(1) div div p:nth-child(1) {
  font-size: 1.5em;
  -webkit-animation: 0.3s ease 0s 1 text-anim;
          animation: 0.3s ease 0s 1 text-anim;
}

section:nth-child(1) div div h1 {
  margin: 0em;
  margin-top: 0.1em;
  font-size: 5em;
  line-height: 1em;
  -webkit-animation: 0.4s ease 0s 1 text-anim;
          animation: 0.4s ease 0s 1 text-anim;
  color: rgba(var(--color-accent-rgb), var(--full-opacity));
}

section:nth-child(1) div div p:nth-of-type(2) {
  margin: 0;
  margin-top: 0.6em;
  font-size: 2.5em;
  line-height: 1.2em;
  -webkit-animation: 0.5s ease 0s 1 text-anim;
          animation: 0.5s ease 0s 1 text-anim;
}

section:nth-child(1) div div button {
  font-size: 1.2em;
  font-family: var(--font-family);
  color: rgba(var(--color-accent-rgb), var(--medium-opacity));
  margin-top: 1.4em;
  letter-spacing: 0.04em;
  padding: 0.6em 0.8em 0.5em 0.8em;
  border-radius: 0.4em;
  background-color: transparent;
  border: 0.1em solid rgba(var(--color-accent-rgb), var(--medium-opacity));
  -webkit-animation: 0.6s ease 0s 1 text-anim;
          animation: 0.6s ease 0s 1 text-anim;
  -webkit-transition: var(--medium-transition);
  transition: var(--medium-transition);
}

section:nth-child(1) div div button:hover {
  cursor: pointer;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: rgba(var(--color-accent-rgb), var(--low-opacity));
}

section:nth-child(1) div img {
  width: 32%;
  height: auto;
  margin: 12em 4em 0 0;
  -webkit-filter: var(--drop-shadow);
          filter: var(--drop-shadow);
  -webkit-transition: var(--fast-transition);
  transition: var(--fast-transition);
  -webkit-animation: 0.3s ease-out 0s 1 avatar-anim;
          animation: 0.3s ease-out 0s 1 avatar-anim;
}

section:nth-child(1) div img:hover {
  cursor: pointer;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-filter: var(--drop-shadow-hover);
          filter: var(--drop-shadow-hover);
}

section:nth-child(2) {
  background-color: lightseagreen;
}

section:nth-child(3) {
  background-color: lightsalmon;
}

section:nth-child(4) {
  background-color: lightyellow;
}

section:nth-child(5) {
  background-color: lightpink;
}
/*# sourceMappingURL=main.css.map */