@import "./variables";
@import "./mixin";
@import "./anim";

html,
body {
   height: auto;
   width: 100vw;

   margin: 0;
   padding: 0;

   font-family: var(--font-family);
   transition: var(--slow-transition);
   background-color: var(--color-primary-hex);

   overflow: scroll;
   overflow-x: hidden;
   scroll-behavior: smooth !important;

   &::-webkit-scrollbar {
      width: 0.4em;
   }
   &::-webkit-scrollbar-track {
      background-color: transparent;
   }
   &::-webkit-scrollbar-thumb {
      border-radius: 0.4em;
      background-color: rgba(
         $color: var(--color-accent-rgb),
         $alpha: var(--medium-opacity)
      );
   }
}

header {
   top: 0;
   position: fixed;

   height: 88px;
   width: 100vw;

   @include centerItems();
   backdrop-filter: blur(0.6em);
   justify-content: space-between;
   transition: var(--slow-transition);
   background-color: rgba(
      $color: var(--color-primary-rgb),
      $alpha: var(--high-opacity)
   );

   img:nth-child(1) {
      cursor: pointer;
      margin-left: 3.2em;
      transition: var(--slow-transition);
   }

   div {
      display: flex;
      align-items: center;
      margin-right: 3.2em;

      ul {
         display: flex;
         align-items: center;
         animation: 0.3s ease 0s 1 menu-anim;

         li {
            margin: 1.2em;
            font-size: 1em;
            list-style: none;
            transition: var(--fast-transition);
            color: rgba(
               $color: var(--color-accent-rgb),
               $alpha: var(--medium-opacity)
            );

            &:hover {
               cursor: pointer;
               transform: translateY(-0.2em);
               font-weight: var(--font-weight);
               color: rgba(
                  $color: var(--color-accent-rgb),
                  $alpha: var(--full-opacity)
               );
            }
         }
      }
   }

   img:nth-child(2) {
      margin: 1em;
      transition: var(--fast-transition);

      &:hover {
         cursor: pointer;
         transform: rotate(45deg) scale(1.2);
      }
   }
}

main {
   height: auto;
   width: 100%;

   .social-content {
      left: 0;
      bottom: 0;
      width: 5em;
      height: 100%;
      position: fixed;

      display: flex;
      align-items: flex-end;
      justify-content: center;
      transition: var(--slow-transition);
      animation: 0.5s ease-out 0s 1 nav-anim;

      ul {
         margin: 0;
         list-style: none;

         li {
            margin: 1.5em 1.5em;

            img {
               opacity: var(--medium-opacity);
               transition: var(--fast-transition);

               &:hover {
                  cursor: pointer;
                  opacity: 1;
                  transform: translateY(-0.2em) scale(1.2);
               }
            }
         }

         &::after {
            content: "";
            display: block;
            width: 1px;
            height: 6em;
            margin: auto;
            background-color: rgba(
               $color: var(--color-accent-rgb),
               $alpha: var(--medium-opacity)
            );
         }
      }
   }

   .email-content {
      right: 0;
      bottom: 0;
      width: 5em;
      height: 100%;
      position: fixed;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      transition: var(--slow-transition);
      animation: 0.5s ease-out 0s 1 nav-anim;

      p {
         margin-top: 1.5em;
         margin-bottom: 1.5em;
         font-size: 1.15em;
         color: rgba(
            $color: var(--color-accent-rgb),
            $alpha: var(--medium-opacity)
         );
         writing-mode: vertical-rl;
         transition: var(--fast-transition);

         &:hover {
            cursor: pointer;
            transform: translateY(-0.3em);
            color: var(--color-accent-hex);
            font-weight: var(--font-weight);
         }
      }

      &::after {
         content: "";
         display: block;
         width: 1px;
         height: 6em;
         margin-left: 1.5em;
         background-color: rgba(
            $color: var(--color-accent-rgb),
            $alpha: var(--medium-opacity)
         );
      }
   }

   .main-content {
      height: auto;
      width: 100%;

      display: flex;
      align-items: center;
      flex-direction: column;
   }
}

section {
   height: 100vh;
   width: 85%;
}

section:nth-child(1) {
   div {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-end;

      height: 100%;
      width: 100%;

      div {
         width: 48%;
         height: auto;
         margin: 20em 2em 0 0;
         flex-direction: column;

         color: rgba(
            $color: var(--color-accent-rgb),
            $alpha: var(--medium-opacity)
         );

         p:nth-child(1) {
            font-size: 1.5em;
            animation: 0.3s ease 0s 1 text-anim;
         }

         h1 {
            margin: 0em;
            margin-top: 0.1em;
            font-size: 4.5em;
            line-height: 1em;
            animation: 0.4s ease 0s 1 text-anim;
            color: rgba(
               $color: var(--color-accent-rgb),
               $alpha: var(--full-opacity)
            );
         }

         p:nth-of-type(2) {
            margin: 0;
            margin-top: 0.6em;
            font-size: 2.4em;
            line-height: 1.2em;
            animation: 0.5s ease 0s 1 text-anim;
         }

         button {
            font-size: 1.2em;
            font-family: var(--font-family);
            color: rgba(
               $color: var(--color-accent-rgb),
               $alpha: var(--medium-opacity)
            );

            margin-top: 1.4em;
            letter-spacing: 0.04em;
            padding: 0.6em 0.8em 0.5em 0.8em;

            border-radius: 0.4em;
            background-color: transparent;
            border: 0.1em solid
               rgba(
                  $color: var(--color-accent-rgb),
                  $alpha: var(--medium-opacity)
               );

            animation: 0.6s ease 0s 1 text-anim;
            transition: var(--medium-transition);

            &:hover {
               cursor: pointer;
               transform: scale(0.95);
               color: var(--color-primary-hex);
               background-color: var(--color-accent-hex);
            }
         }
      }

      img {
         width: 32%;
         height: auto;
         margin: 12em 4em 0 0;
         @include avatarStyle();
      }
   }
}

section:nth-of-type(2) {
   @include centerItems();
   flex-direction: column;
   justify-content: flex-start;

   .about-title {
      height: auto;
      width: 70%;
      margin-top: 3em;

      h2 {
         font-size: 2em;
         color: rgba(
            $color: var(--color-accent-rgb),
            $alpha: var(--high-opacity)
         );
         animation: 0.4s ease-out 0s 1 about-title-anim;
      }

      h2::after {
         height: 1px;
         width: 8em;

         content: "";
         margin: 0.6em;
         display: inline-block;
         vertical-align: middle;
         background-color: rgba(
            $color: var(--color-accent-rgb),
            $alpha: var(--medium-opacity)
         );
      }
   }

   .about-body {
      height: 100%;
      width: 75%;

      @include centerItems();
      justify-content: space-between;

      .timeline {
         height: 100%;
         width: 45%;

         ul {
            margin: 0;
            list-style: none;

            li {
               margin-top: 5em;

               h3 {
                  font-size: 1.5em;
                  margin: 0;
                  color: rgba(
                     $color: var(--color-accent-rgb),
                     $alpha: var(--medium-opacity)
                  );

                  a {
                     text-decoration: none;
                     color: rgba(
                        $color: var(--color-accent-rgb),
                        $alpha: var(--full-opacity)
                     );
                  }
               }

               p {
                  font-size: 1.2em;
                  margin-top: 0.6em;
                  color: rgba(
                     $color: var(--color-accent-rgb),
                     $alpha: var(--high-opacity)
                  );
               }
            }

            li::after {
               content: "";
               float: left;
               display: block;
               width: 2px;
               height: 2.5em;
               margin-left: 0.6em;
               background-color: rgba(
                  $color: var(--color-accent-rgb),
                  $alpha: var(--medium-opacity)
               );
            }

            li:nth-of-type(1) {
               margin-top: 4em;
               animation: 0.3s ease-out 0s 1 text-anim;
            }

            li:nth-of-type(2) {
               animation: 0.5s ease-out 0s 1 text-anim;
            }

            li:nth-of-type(3) {
               animation: 0.7s ease-out 0s 1 text-anim;
            }

            li:nth-of-type(4) {
               animation: 0.9s ease-out 0s 1 text-anim;
            }

            li:nth-of-type(4)::after {
               height: 4em;
               animation: 0.3s ease-out 0s 1 text-anim;
            }
         }
      }

      .description {
         height: 100%;
         width: 50%;

         div:nth-child(1) {
            height: auto;
            width: 100%;

            display: flex;
            justify-content: center;

            img {
               filter: var(--drop-shadow);
               transition: var(--fast-transition);
               animation: 0.3s ease-out 0s 1 avatar-anim;

               &:hover {
                  cursor: pointer;
                  transform: scale(0.95);
                  filter: var(--drop-shadow-hover);

                  padding: 0.3em;
                  border-width: 0.2em;
                  border-color: rgba(
                     $color: var(--color-accent-rgb),
                     $alpha: var(--high-opacity)
                  );
                  border-style: none inset inset none;
                  border-radius: 5.5em 5.5em 5.5em 0em;
               }
            }
         }

         div:nth-child(2) {
            height: auto;
            width: 100%;

            margin-top: 3em;

            p {
               font-size: 1.3em;
               line-height: 1.3em;
               color: rgba(
                  $color: var(--color-accent-rgb),
                  $alpha: var(--medium-opacity)
               );

               &:nth-child(1) {
                  animation: 0.4s ease-out 0s 1 text-anim;
               }
               &:nth-child(2) {
                  animation: 0.6s ease-out 0s 1 text-anim;
               }
               &:nth-child(3) {
                  animation: 0.8s ease-out 0s 1 text-anim;
               }
            }
         }
      }
   }
}

section:nth-child(3) {
   @include centerItems();
   flex-direction: column;
   justify-content: flex-start;

   .skills-title {
      height: auto;
      width: 70%;
      margin-top: 3em;

      h2 {
         font-size: 2em;
         color: rgba(
            $color: var(--color-accent-rgb),
            $alpha: var(--high-opacity)
         );
         animation: 0.4s ease-out 0s 1 about-title-anim;
      }

      h2::after {
         height: 1px;
         width: 8em;

         content: "";
         margin: 0.6em;
         display: inline-block;
         vertical-align: middle;
         background-color: rgba(
            $color: var(--color-accent-rgb),
            $alpha: var(--medium-opacity)
         );
      }
   }

   .skills-body {
      height: 100%;
      width: 70%;
      margin-top: 2em;

      @include centerItems();
      flex-direction: column;
      justify-content: flex-start;

      div:nth-of-type(1) {
         height: 35%;
         width: 100%;

         h2 {
            margin-top: 0.5em;
            font-size: 1.6em;
            color: rgba(
               $color: var(--color-accent-rgb),
               $alpha: var(--medium-opacity)
            );
            text-align: center;
            animation: 0.6s ease 0s 1 text-anim;
         }

         div {
            height: 100%;
            width: 100%;

            @include centerItems();
            align-items: flex-start;

            article {
               margin-top: 2.4em;

               height: 8em;
               width: 10em;

               @include centerItems();
               flex-direction: column;
               position: relative;

               border-radius: 2em;
               box-shadow: -0.3em 0 1em black;

               color: var(--color-accent-hex);
               background: var(--color-primary-hex);

               transition: var(--medium-transition);

               &:hover {
                  height: 10em;
                  cursor: pointer;
                  transform: translateY(-2.6em);
                  color: var(--color-primary-hex);
                  background-color: var(--color-accent-hex);

                  align-items: flex-start;
                  justify-content: flex-start;

                  img {
                     width: 2.5em;
                     height: 2.5em;

                     margin: 1em 0 0 1em;
                     transition: var(--slow-transition);
                  }

                  div {
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     align-items: center;

                     h1 {
                        margin: 0;
                        font-size: 2.6em;
                     }

                     p {
                        margin: 0;
                        margin-top: 0.8em;
                        color: var(--color-primary-hex);
                     }
                  }
               }

               &:hover ~ article {
                  transform: translateX(2.5em);
               }

               &:not(:first-child) {
                  margin-left: -2.5em;
               }

               img {
                  width: 4em;
                  height: 4em;

                  transition: var(--slow-transition);
               }

               div {
                  display: none;
               }

               &:nth-of-type(1) {
                  animation: 0.3s ease 0s 1 menu-anim;
               }
               &:nth-of-type(2) {
                  animation: 0.4s ease 0s 1 menu-anim;
               }
               &:nth-of-type(3) {
                  animation: 0.5s ease 0s 1 menu-anim;
               }
               &:nth-of-type(4) {
                  animation: 0.6s ease 0s 1 menu-anim;
               }
               &:nth-of-type(5) {
                  animation: 0.7s ease 0s 1 menu-anim;
               }
               &:nth-of-type(6) {
                  animation: 0.8s ease 0s 1 menu-anim;
               }
               &:nth-of-type(7) {
                  animation: 0.9s ease 0s 1 menu-anim;
               }
               &:nth-of-type(8) {
                  animation: 1s ease 0s 1 menu-anim;
               }
            }
         }
      }

      div:nth-of-type(2) {
         height: 30%;
         width: 100%;

         h2 {
            margin-top: 0;
            font-size: 1.4em;
            color: rgba(
               $color: var(--color-accent-rgb),
               $alpha: var(--medium-opacity)
            );
            text-align: center;
            animation: 0.6s ease 0s 1 text-anim;
         }

         div {
            height: 100%;
            width: 100%;

            @include centerItems();
            align-items: flex-start;

            article {
               margin-top: 1.5em;

               height: 6em;
               width: 6em;

               @include centerItems();
               flex-direction: column;
               position: relative;

               border-radius: 1.5em;
               box-shadow: -0.3em 0 1em black;

               color: var(--color-accent-hex);
               background: var(--color-primary-hex);

               transition: var(--medium-transition);

               &:hover {
                  width: 8em;
                  height: 6em;
                  cursor: pointer;
                  transform: translateY(-1em);
                  color: var(--color-primary-hex);
                  background-color: var(--color-accent-hex);

                  @include centerItems();

                  img {
                     width: 1.6em;
                     height: 1.6em;

                     margin-top: 1em;
                     transition: var(--slow-transition);
                  }

                  p {
                     display: flex;
                     text-align: center;
                     margin: 1em 0.2em 0 0.2;
                     color: var(--color-primary-hex);
                  }
               }

               &:hover ~ article {
                  transform: translateX(1em);
               }

               &:not(:first-child) {
                  margin-left: -1em;
               }

               img {
                  width: 2.6em;
                  height: 2.6em;

                  transition: var(--slow-transition);
               }

               p {
                  display: none;
               }

               &:nth-of-type(1) {
                  animation: 0.5s ease 0s 1 menu-anim;
               }
               &:nth-of-type(2) {
                  animation: 0.6s ease 0s 1 menu-anim;
               }
               &:nth-of-type(3) {
                  animation: 0.7s ease 0s 1 menu-anim;
               }
               &:nth-of-type(4) {
                  animation: 0.8s ease 0s 1 menu-anim;
               }
               &:nth-of-type(5) {
                  animation: 0.9s ease 0s 1 menu-anim;
               }
               &:nth-of-type(6) {
                  animation: 1s ease 0s 1 menu-anim;
               }
               &:nth-of-type(7) {
                  animation: 1.1s ease 0s 1 menu-anim;
               }
               &:nth-of-type(8) {
                  animation: 1.2s ease 0s 1 menu-anim;
               }
               &:nth-of-type(9) {
                  animation: 1.3s ease 0s 1 menu-anim;
               }
            }
         }
      }

      div:nth-of-type(3) {
         height: auto;
         width: 100%;

         @include centerItems();

         img {
            height: auto;
            width: 16%;

            @include avatarStyle();

            &:hover {
               cursor: pointer;
               transform: scale(0.95);
               filter: var(--drop-shadow-hover);
            }
         }

         p {
            margin-left: 2em;
            margin-top: 1em;
            font-size: 1.3em;
            line-height: 1.3em;
            color: rgba(
               $color: var(--color-accent-rgb),
               $alpha: var(--medium-opacity)
            );
            animation: 0.6s ease-out 0s 1 text-anim;
         }
      }
   }
}

section:nth-child(4) {
   height: 200vh;
   width: 85%;

   @include centerItems();
   flex-direction: column;
   justify-content: flex-start;

   .work-title {
      height: auto;
      width: 70%;
      margin-top: 3em;

      h2 {
         font-size: 2em;
         color: rgba(
            $color: var(--color-accent-rgb),
            $alpha: var(--high-opacity)
         );
         animation: 0.4s ease-out 0s 1 about-title-anim;
      }

      h2::after {
         height: 1px;
         width: 8em;

         content: "";
         margin: 0.6em;
         display: inline-block;
         vertical-align: middle;
         background-color: rgba(
            $color: var(--color-accent-rgb),
            $alpha: var(--medium-opacity)
         );
      }
   }

   .work-body {
      height: 100%;
      width: 70%;

      @include centerItems();
      flex-direction: column;

      .color-palette {
         height: 25%;
         width: 100%;

         @include centerItems();
         justify-content: flex-end;

         img {
            height: auto;
            width: 20%;

            @include avatarStyle();
         }

         div {
            height: 100%;
            width: 70%;

            @include centerItems();
            justify-content: flex-start;

            .cp-holder {
               height: 20em;
               width: 34em;

               margin-left: 4em;
               transition: 0.3s ease;
               @include centerItems();

               .cp-front {
                  position: relative;
                  height: 20em;
                  width: 34em;
                  margin: 0;

                  border-radius: 2em;
                  transition: 0.25s ease;
                  filter: var(--drop-shadow);

                  background-image: url("/assets/images/prl/cp_prl.png");
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
               }

               .cp-tag {
                  @include tagStyle();
                  border-radius: 0 0.8em 0.8em 0;

                  p {
                     margin: 1.2em 0 1.2em 0.2em;
                  }
               }

               .cp-back {
                  height: 20em;
                  width: 30em;

                  margin: 0;
                  position: absolute;
                  flex-direction: column;
                  justify-content: flex-end;

                  border-radius: 2em;
                  transition: var(--medium-transition);
                  background-color: var(--color-accent-hex);

                  article {
                     height: 80%;
                     width: 70%;

                     color: var(--color-primary-hex);
                     align-self: flex-end;
                     align-items: flex-start;

                     h1 {
                        font-size: 2em;
                        margin: 1em 0 0 0;
                        transition: var(--medium-transition);
                     }

                     p:nth-of-type(1),
                     p:nth-of-type(2) {
                        width: 90%;
                        font-size: 1.2em;
                        line-height: 1.2em;
                        margin: 0.8em 0 0.8em 0;
                        opacity: var(--high-opacity);
                     }

                     p:nth-of-type(3) {
                        font-size: 1em;
                        font-weight: 900;
                        margin: 1.4em 0 0 0;

                        span {
                           :hover {
                              cursor: pointer;
                           }
                        }
                     }
                  }

                  div {
                     height: 20%;
                     width: 100%;

                     ul {
                        width: 100%;
                        display: flex;

                        li {
                           @include keywordStyle();
                        }
                     }
                  }
               }

               &:hover {
                  .cp-back {
                     height: 20em;
                     width: 36em;
                     border-radius: 2em;
                     transform: translateX(8em);
                     filter: var(--drop-shadow);
                  }

                  .cp-front {
                     width: 16em;
                     border-radius: 3em 3em 0em 3em;
                     transform: translate(-8em, -4em);

                     &:hover {
                        cursor: pointer;
                     }
                  }
               }
            }
         }
      }

      .wallpaper-sh {
         height: 25%;
         width: 100%;

         @include centerItems();
         justify-content: flex-start;

         img {
            height: auto;
            width: 20%;

            @include avatarStyle();
         }

         div {
            height: 100%;
            width: 70%;

            @include centerItems();
            justify-content: flex-end;

            .ws-holder {
               height: 20em;
               width: 34em;

               margin-right: 4em;
               transition: 0.3s ease;
               @include centerItems();

               .ws-front {
                  position: relative;
                  height: 20em;
                  width: 34em;
                  margin: 0;

                  border-radius: 2em;
                  transition: 0.25s ease;
                  filter: var(--drop-shadow);

                  background-image: url("/assets/images/prl/ws_prl.png");
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
               }

               .ws-tag {
                  @include tagStyle();
                  border-radius: 0.8em 0 0 0.8em;

                  p {
                     margin: 1.2em 0.2em 1.2em 0;
                  }
               }

               .ws-back {
                  height: 20em;
                  width: 30em;

                  margin: 0;
                  position: absolute;
                  flex-direction: column;
                  justify-content: flex-start;

                  border-radius: 2em;
                  transition: var(--medium-transition);
                  background-color: var(--color-accent-hex);

                  article {
                     height: 80%;
                     width: 70%;

                     text-align: right;
                     align-self: flex-start;
                     color: var(--color-primary-hex);

                     @include centerItems();
                     flex-direction: column;
                     align-items: flex-end;

                     h1 {
                        font-size: 2em;
                        margin: 1em 0 0 0;
                        transition: var(--medium-transition);
                     }

                     p:nth-of-type(1),
                     p:nth-of-type(2) {
                        width: 90%;
                        margin: 0.8em 0 0 0;

                        font-size: 1.2em;
                        line-height: 1.2em;

                        opacity: var(--high-opacity);
                     }

                     p:nth-of-type(3) {
                        font-size: 1em;
                        font-weight: 900;
                        margin: 1.4em 0 0 0;

                        span {
                           :hover {
                              cursor: pointer;
                           }
                        }
                     }
                  }

                  div {
                     height: 20%;
                     width: 100%;

                     ul {
                        width: 100%;
                        display: flex;

                        li {
                           @include keywordStyle();
                        }
                     }
                  }
               }

               &:hover {
                  .ws-back {
                     height: 20em;
                     width: 36em;
                     border-radius: 2em;
                     transform: translateX(-8em);
                     filter: var(--drop-shadow);
                  }

                  .ws-front {
                     width: 16em;
                     border-radius: 3em 3em 3em 0em;
                     transform: translate(8em, -4em);

                     &:hover {
                        cursor: pointer;
                     }
                  }
               }
            }
         }
      }

      .short-stories {
         height: 25%;
         width: 100%;

         @include centerItems();
         justify-content: flex-end;

         img {
            height: auto;
            width: 20%;

            @include avatarStyle();
         }

         div {
            height: 100%;
            width: 70%;

            @include centerItems();
            justify-content: flex-start;

            .ss-holder {
               height: 20em;
               width: 34em;

               margin-left: 4em;
               transition: 0.3s ease;
               @include centerItems();

               .ss-front {
                  position: relative;
                  height: 20em;
                  width: 34em;
                  margin: 0;

                  border-radius: 2em;
                  transition: 0.25s ease;
                  filter: var(--drop-shadow);

                  background-image: url("/assets/images/prl/ss_prl.png");
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
               }

               .ss-tag {
                  @include tagStyle();
                  border-radius: 0 0.8em 0.8em 0;

                  p {
                     margin: 1.2em 0 1.2em 0.2em;
                  }
               }

               .ss-back {
                  height: 20em;
                  width: 30em;

                  margin: 0;
                  position: absolute;
                  flex-direction: column;
                  justify-content: flex-end;

                  border-radius: 2em;
                  transition: var(--medium-transition);
                  background-color: var(--color-accent-hex);

                  article {
                     height: 80%;
                     width: 70%;

                     color: var(--color-primary-hex);
                     align-self: flex-end;
                     align-items: flex-start;

                     h1 {
                        font-size: 2em;
                        margin: 1em 0 0 0;
                        transition: var(--medium-transition);
                     }

                     p:nth-of-type(1),
                     p:nth-of-type(2) {
                        width: 90%;
                        font-size: 1.2em;
                        line-height: 1.2em;
                        margin: 0.8em 0 0.8em 0;
                        opacity: var(--high-opacity);

                        a {
                           text-decoration: none;
                           font-weight: bolder;
                           color: var(--color-primary-hex);
                        }
                     }

                     p:nth-of-type(3) {
                        font-size: 1em;
                        font-weight: 900;
                        margin: 1.4em 0 0 0;

                        span {
                           :hover {
                              cursor: pointer;
                           }
                        }
                     }
                  }

                  div {
                     height: 20%;
                     width: 100%;

                     ul {
                        width: 100%;
                        display: flex;

                        li {
                           @include keywordStyle();
                        }
                     }
                  }
               }

               &:hover {
                  .ss-back {
                     height: 20em;
                     width: 36em;
                     border-radius: 2em;
                     transform: translateX(8em);
                     filter: var(--drop-shadow);
                  }

                  .ss-front {
                     width: 16em;
                     border-radius: 3em 3em 0em 3em;
                     transform: translate(-8em, -4em);

                     &:hover {
                        cursor: pointer;
                     }
                  }
               }
            }
         }
      }

      .musify {
         height: 25%;
         width: 100%;

         @include centerItems();
         justify-content: flex-start;

         img {
            height: auto;
            width: 20%;

            @include avatarStyle();
         }

         div {
            height: 100%;
            width: 70%;

            @include centerItems();
            justify-content: flex-end;

            .mf-holder {
               height: 20em;
               width: 34em;

               margin-right: 4em;
               transition: 0.3s ease;
               @include centerItems();

               .mf-front {
                  position: relative;
                  height: 20em;
                  width: 34em;
                  margin: 0;

                  border-radius: 2em;
                  transition: 0.25s ease;
                  filter: var(--drop-shadow);

                  background-image: url("/assets/images/prl/mf_prl.png");
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
               }

               .mf-tag {
                  @include tagStyle();
                  border-radius: 0.8em 0 0 0.8em;

                  p {
                     margin: 1.2em 0.2em 1.2em 0;
                  }
               }

               .mf-back {
                  height: 20em;
                  width: 30em;

                  margin: 0;
                  position: absolute;
                  flex-direction: column;
                  justify-content: flex-start;

                  border-radius: 2em;
                  transition: var(--medium-transition);
                  background-color: var(--color-accent-hex);

                  article {
                     height: 80%;
                     width: 70%;

                     text-align: right;
                     align-self: flex-start;
                     color: var(--color-primary-hex);

                     @include centerItems();
                     flex-direction: column;
                     align-items: flex-end;

                     h1 {
                        font-size: 2em;
                        margin: 1em 0 0 0;
                        transition: var(--medium-transition);
                     }

                     p:nth-of-type(1),
                     p:nth-of-type(2) {
                        width: 90%;
                        margin: 0.8em 0 0 0;

                        font-size: 1.2em;
                        line-height: 1.2em;

                        opacity: var(--high-opacity);
                     }

                     p:nth-of-type(3) {
                        font-size: 1em;
                        font-weight: 900;
                        margin: 1.4em 0 0 0;

                        span {
                           :hover {
                              cursor: pointer;
                           }
                        }
                     }
                  }

                  div {
                     height: 20%;
                     width: 100%;

                     ul {
                        width: 100%;
                        display: flex;

                        li {
                           @include keywordStyle();
                        }
                     }
                  }
               }

               &:hover {
                  .mf-back {
                     height: 20em;
                     width: 36em;
                     border-radius: 2em;
                     transform: translateX(-8em);
                     filter: var(--drop-shadow);
                  }

                  .mf-front {
                     width: 16em;
                     border-radius: 3em 3em 3em 0em;
                     transform: translate(8em, -4em);

                     &:hover {
                        cursor: pointer;
                     }
                  }
               }
            }
         }
      }
   }
}

section:nth-child(5) {
   background-color: lightpink;
}
